services/PneumaticCyclinder.wsdl

<?xml version="1.0"?>
<definitions

name="StockQuote"
targetNamespace="http://example.com/stockquote.wsdl"
xmlns:tns="http://example.com/stockquote.wsdl"
xmlns:xsd1="http://example.com/stockquote.xsd"
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns="http://schemas.xmlsoap.org/wsdl/">
	

	<service name="turnLightOnAndOff">
        <documentation>This Service extend both pneumatic cylinders</documentation>
        <port name="HWD_Pneumatic" binding="tns:PenumaticCylinder">
           <soap:address location="opc.tcp://192.168.1.76"/>
        </port>
    </service>

	<portType name="HWD">
        <operation name="extendCylinder">
           <input message="extendCylinder"/>
           <output message="processDone"/>
        </operation>
    </portType>
	
	<message name="extendCylinder">
        <part name="body" element="xsd1:Switch"/>
    </message>

    <message name="processDone">
        <part name="body" element="xsd1:Status"/>
    </message>

    <types>
       <schema targetNamespace="http://example.com/stockquote.xsd" xmlns="http://www.w3.org/2000/10/XMLSchema">
           <element name="Switch">
              <complexType>
                  <all>
                      <element name="ns=4;s=|var|CODESYS Control for Linux SL.Application.HWD_Pneumatik.inputOpcUa_extendCyclinders" type="bool" value="true"/>
                  </all>
              </complexType>
           </element>
           <element name="Status">
              <complexType>
                  <all>
                      <element name="ns=4;s=|var|CODESYS Control for Linux SL.Application.HWD_Pneumatik.outputOpcUa_processDone" type="bool" value="false"/>
                  </all>
              </complexType>
           </element>
       </schema>
    </types>

</definitions>